<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query RIPE API</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
<div class="row">

    <div class="col-lg-1 pt-2"></div>
<div class="col-lg-2 pt-2">
<form id="asOrNetsubmitForm" action="" method="post">
<div class="form-group">
    {{ form.csrf_token }}
    <label for="ipOrAsnField">AS Number or Network</label>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">AS</span>
        </div>
    {{ form.ip_or_asn(id="ipOrAsnField", class="form-control", placeholder="Number or Subnet") }}
        <div class="input-group-append">
            <span class="input-group-text">/24</span>
        </div>
    </div>
</div>
    <p>
    <div class="form-group">

    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="previousRadio" name="timerange" value="prev" class="custom-control-input">
        <label class="custom-control-label" for="previousRadio">Previous 24H</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="nextRadio" name="timerange" value="next" class="custom-control-input" checked="checked">
        <label class="custom-control-label" for="nextRadio">Next/Last 24H</label>
    </div>

        </div>
    </p>

    <button id="submitButton" class="btn btn-primary btn-block" type="submit">Submit</button>
</form>


    <!-- errors -->
    <p>
    <div id="formErrorArea" style="color: darkred; font-size: 16px;"></div>
    </p>
    {% if error %}
        <p class="error"><strong>Error:</strong>
            <span style="color: darkred; font-size: 12px;">{{ error }}</span>
        </p>
    {% endif %}

      <!-- messages -->
</div>

    <div class="col-lg-8 pt-2">

    <div id="pathResultToolbar">
        <h5>BGP Path Events Occurences:</h5><div id="timeRangeArea"></div>
    </div>
        <table
                id="pathResultTable"
                class="table table-sm table-striped"
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                data-toolbar = "#pathResultToolbar"
        >
        <thead class="thead-dark">
        <tr>
            <th data-sortable="true" data-field="source_as">Source AS</th>
            <th data-sortable="true" data-field="target_prefix">Target</th>
            <th data-sortable="true" data-field="change_date">Change Date</th>
            <th data-field="path_change_str">AS Path Change</th>
        </tr>
  </thead>
</table>
    <div id="resultArea">

    </div>
        {% for message in get_flashed_messages() %}
            <p>
                {{ message }}
            </p>
        {% endfor %}
    </div>

    <div class="col-lg-1 pt-2"></div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>

<script src="../static/scripts.js"></script>
</body>
</html>