<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query RIPE API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="row">

<div class="col-md-3 pt-2">
<form id="submitForm" action="" method="post">
<div class="form-group">
    {{ form.csrf_token }}
    <label for="ipOrAsnField">AS Number or Network</label>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">AS</span>
        </div>
    {{ form.ip_or_asn(id="ipOrAsnField", class="form-control", placeholder="Number or Subnet") }}
        <div class="input-group-append">
            <span class="input-group-text">/24</span>
        </div>
    </div>

</div>
    <button id="submitButton" class="btn btn-primary btn-block" type="submit">Submit</button>

    <!-- errors -->
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

      <!-- messages -->

</form>
</div>

    <div class="col-md-9">
        <table
                class="table table-striped"
                data-toggle="table"
                data-pagination="true"
                data-search="true">
        <thead class="thead-dark">
        <tr>
          <th data-sortable="true" data-field="id">Number</th>
          <th data-field="path_date">Path Date</th>
          <th data-field="as_path">AS Path</th>
        </tr>
  </thead>
</table>
        {% for message in get_flashed_messages() %}
            <p>
                {{ message }}
            </p>
        {% endfor %}
    </div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>